

/*body {
    overflow: hidden !important;
}*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
}
.ImgClass{
    height:180px;
    width:180px;
}

table {
    border-collapse: collapse;
}

/*@media (max-width: 800px) {
    section {
        flex-wrap: wrap;
    }

    aside {
        flex: 100%;
        height: 200px;
    }
}

@media (max-width: 500px) {
    nav, main, aside {
        flex: 100%;
        height: 200px;
    }
}*/

:root {
    --font-color-black: #333;
    --font-color-white: #fff;
    --left-column-bgcolor: #2a3f54;
    --left-column-color: #f1f4f6;
    --left-column-color: #fff;
}


.container {
    /*overflow-x: scroll;
    overflow-y: scroll;*/
}
.Content2 {
    /*overflow-x: scroll;
    overflow-y: scroll;*/
}
div#maincontent5 {
    flex: 1 1 auto;
    background: #f1f4f6;
    padding: 1.5rem;
    overflow-y: scroll;
    max-height: 100vh;
    font-size: 0.72rem;
    font-family: "NotoSansMono", "NotoSansJP";
    color: #333;
    /*font-weight: 550;*/
}
  

    a.aitem {
        background-color: #2a3f54;
        color: var(--font-color-white);
        font-family: "NotoSansMono", "NotoSansJP";
        font-size: 1rem;
        line-height: 1.0;
        white-space: pre-wrap;
        word-wrap: break-word;
        padding: 2rem 1rem;
        background-color: var(--left-column-bgcolor);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        transition-duration: 0.4s;
        border:none;
    }

    a.atxt {
        background-color: #2a3f54;
        color: var(--font-color-white);
        font-family: "NotoSansMono", "NotoSansJP";
        font-size: 1rem;
        line-height: 1.0;
        white-space: pre-wrap;
        word-wrap: break-word;
        padding: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: default;
        position: relative;
        transition-duration: 0.4s;
    }
       
    a.aitem:hover {
        text-shadow: 0 0 1px #fff, 0 0 10px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 30px #fff !important;
        transition-duration: 1s !important;
    }
    .act {
        background-color: #fff !important;
        color: #2a3f54 !important;
   
    }
    .act::after {
        position: absolute;
        content: "";
        right: -32px;
        width: 0;
        height: 0;
        display: block;
        border-style: solid !important;
        border-top: 20px solid transparent !important;
        border-bottom: 20px solid transparent !important;
        border-left: 30px solid var(--left-column-color) !important;
        color: transparent !important;
    }

div.containerbox {
    /*grid-template-columns: repeat(14, 1fr);*/
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    box-shadow: 3px 3px 3px #888;
    border-radius: 8px;
    position: relative;
    display: inline-block;
    padding: 0.5rem;
}
#txtaitemname{
    width:65%;
}

div.containerboxmemo {
    /*grid-template-columns: repeat(14, 1fr);*/
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    box-shadow: 3px 3px 3px #888;
    border-radius: 8px;
    position: relative;
    display: inline-block;
    padding: 0.5rem;
    height: 100%;
    /*height: calc(100% - 28px);*/
}

div.row {
    /*margin-left: auto;*/
}
.individualbox {
    padding-right: 5px;
    padding-left: 5px;
}
.imgchoosebtn {
    /*background-color: indigo;*/
    /*color: white;*/
    padding: 0.5rem;
    /*font-family: sans-serif;*/
    border-radius: 0.3rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color-black);
    border-radius: 3px;
    border: 1px solid #333;
    transition: 0.3s !important;
    background-image: linear-gradient(180deg, white, #d1d1d1) !important;
    width: 100%;
    height: 33px !important;
    font-size:0.7rem;
}
.txtbox {
    padding: 0.3rem;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    flex: 1;
    width: 100%;
    margin-bottom:5px;
}

.fr_btn {
    float: right;
    color: #333;
    text-decoration: none;
}
.txtarea {
    /*border: 1px solid #aaa;
    margin-right: 5px;*/
    border-radius: 5px;
    width: 100%;
    height: 100%;
    min-height: 80px;
    padding: 0.25rem 0.5rem;
    background-color: #fff;
    border: 1px solid #aaa;
    resize: vertical;
    padding: 0.3rem;
    background-color: #fff;
    border-radius: 5px;
    flex: 1;
    width: 100%;
}

.lbl {
    line-height: 0.7;
    position: relative;
    display: inline-block;
    /*padding: 0.5rem;*/
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    padding-bottom:0.5rem;
    /*padding-right:0.3rem;*/
    padding-top:0.3rem;
   
    /*width: fit-content;*/
}



.greenlable {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 80%, green 80%);
    /*width:*/
   
}
.yellowlable {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 80%, yellow 80%);
    /*width:*/
}
.orangelable {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 80%, orange 80%);
}
.lblrequired::after {
    content: "必須";
    font-size: 11px;
    position: absolute;
    right: -40px;
    padding: 0.2rem 0.4rem;
    color: #fff;
    background-color: red;
    border-radius: 8px;
    padding-bottom : 5px;
    padding-top:5px;
}


.textamemo {
    border-radius: 5px;
    width: 100%;
    /*height: 100%;*/
    /*min-height: 80px;*/
    padding: 0.25rem 0.5rem;
    background-color: #fff;
    border: 1px solid #aaa;
    height: calc(100% - 28px);
    /*resize: vertical;*/
}

/* Create three equal columns that floats next to each other */
.columnItemcode {
    float: left;
    width: 35%;
    padding: 5px;
    /*height: 300px;*/ /* Should be removed. Only for demonstration */
}

.columnJanCD {
    float: left;
    width: 30%;
    padding: 5px;
    /*height: 300px;*/ /* Should be removed. Only for demonstration */
}

.columnmaker {
    float: left;
    width: 35%;
    padding: 5px;
    /*height: 300px;*/ /* Should be removed. Only for demonstration */
}
.columnItemname {
    float: left;
    width: 65%;
    padding: 5px;
    /*height: 300px;*/ /* Should be removed. Only for demonstration */
}

.listpricediv {
    float: left;
    width: 45%;
    padding: 5px;
    /*height: 300px;*/ /* Should be removed. Only for demonstration */
}

.floaddiv {
    float: left;
    padding: 5px;
    /*height: 300px;*/ /* Should be removed. Only for demonstration */
}

.salepricediv {
    float: left;
    width: 45%;
    padding: 5px;
    /*height: 300px;*/ /* Should be removed. Only for demonstration */
}

.web1 {
    float: left;
    width: 35%;
    padding: 5px;
    /*height: 300px;*/ /* Should be removed. Only for demonstration */
}
.web2 {
    float: left;
    width: 20%;
    padding: 5px;
    /*height: 300px;*/ /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.rowfirst:after {
    content: "";
    display: table;
    clear: both;
}
.mainbtnbox {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    height:38.8px !important;
}
    .mainbtnbox:hover {
        /*background-image: linear-gradient(white,180deg,#d1d1d1) !important;*/
       
    }
/*#iteminfoAll.active i:nth-child(1),
#DisplayRelativeItem.active i:nth-child(1) {
    display: none;
}

#iteminfoAll.active i:nth-child(2),
#DisplayRelativeItem.active i:nth-child(2) {
    display: block;
}

#iteminfoAll + ul li:nth-child(n+6), #DisplayRelativeItem + ul li:nth-child(n+6) {
    visibility: hidden;
    height: 0;
}

#iteminfoAll.active + ul li:nth-child(n+6), #DisplayRelativeItem.active + ul li:nth-child(n+6) {
    visibility: visible;
    height: auto;
}

.fa-plus-square:before, .fa-square-plus:before {
    content: "\f0fe";
}*/

.nonactive {
    display:none !important;
    height:0;
}

.fa-minus-square:before, .fa-square-minus:before {
    content: "\f146";
}

.btndecoraction {
    text-decoration: none;
    color: var(--font-color-black);
    border-radius: 3px;
    border: 1px solid #bbbbbb;
    transition: 0.3s !important;
    background-image: linear-gradient(180deg, white, #d1d1d1) !important;
}

.btnplus {
    text-decoration: none;
    color: var(--font-color-black) !important;
    /*border-radius: 3px;*/
    border: 1px solid #bbbbbb;
    /*border: 0px;*/
    /*transition: 0.3s !important;*/
    padding-left: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-image: linear-gradient(180deg, white, #d1d1d1) !important;
}

.rowbtn {
    /*padding-right: 3px;*/
    margin: 3px;
    margin-top: 30px;
}
.btncolum {
    padding-right: calc(var(--bs-gutter-x)/ 5) !important;
    padding-left: calc(var(--bs-gutter-x)/ 5) !important;
}
.rowprice{
    margin-top:0.7rem;
}
ul.image_list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
    ul.image_list li {
        max-width: 180px;
        width: 20%;
        margin: 5px;
    }
    ul.image_list li a {
        border: 5px solid #fff;
        background: #eee;
        display: block;
        width: 100%;
        /*height: auto;*/
        /*aspect-ratio: 1;*/
        margin-bottom: 0.3rem;
    }
ul.image_list li a img {
            vertical-align: bottom;
            max-width: 100%;
            max-height: 100%;
 }

.pprice {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5rem !important;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 600px) {
    .columnItemcode {
        width: 100%;
    }
    .columnJanCD {
        width: 100%;
    }
    .columnmaker {
        width: 100%;
    }
}*/

/* aymi lay*/

.gvSKUStyle {
    background-color: White;
    font-family: "NotoSansMono", "NotoSansJP";
    font-size: 12px;
    border-collapse: collapse;
    border: 0.2px solid;
    margin-bottom: 0px;
    table-layout: fixed;
    width: 100%;
}

    .gvSKUStyle tr, .gvSKUStyle td {
        border-collapse: collapse;
        border: 0.2px solid #2a3f54;
    }

    .gvSKUStyle tr {
        color: Black;
        height: 25px;
    }

/*Your grid header column style*/ 
.gvSKUStyle th {
    background-color: #2a3f54;
    border: 0.2px solid;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    font-size: 12px;
    padding: 4px;
    color: white;
}

.gvSKUStyle td {
    padding: 2px;
    text-align: right;
}

    .gvSKUStyle td:nth-child(1) {
        background-color: #ADD8E6;
        text-align: left;
    }

.gvSKUStyle tr th:nth-child(1) {
    width: 12%;
}

.float-container {
    padding: 1px;
}

.float-first-child {
    width: 10%;
    float: left;
    padding: 1px;
}

.float-second-child {
    width: 90%;
    float: left;
    padding: 1px;
} 

